@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_opsz,wght.ttf");
  font-weight: 100 900;
  font-optical-sizing: auto;
  font-style: normal;
  font-display: swap;
}
