// @font-face {
//   font-family: "Space Grotesk";
//   src: url("../assets/fonts/SpaceGrotesk-Light.ttf");
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: "Space Grotesk";
//   src: url("../assets/fonts/SpaceGrotesk-Regular.ttf");
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: "Space Grotesk";
//   src: url("../assets/fonts/SpaceGrotesk-Medium.ttf");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: "Space Grotesk";
//   src: url("../assets/fonts/SpaceGrotesk-Semibold.ttf");
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: "Space Grotesk";
//   src: url("../assets/fonts/SpaceGrotesk-Bold.ttf");
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }
@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
  font-weight: 300 700;
  font-style: normal;
  font-optical-sizing: auto;
  font-display: swap;
}
