@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
  font-weight: 300 700;
  font-style: normal;
  font-optical-sizing: auto;
  font-display: swap;
}
